pandas>=1.3.0,<3
tensorflow
streamlit>=1.22.0
numpy
Pillow
requests
uuid
datetime
pytz
st-gsheets-connection
pandas
streamlit-analytics
streamlit-cookies-manager
flask
flask-cors
deta
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-colab
