pandas
tensorflow
streamlit>=1.22.0,<3
numpy
Pillow
requests
uuid
datetime
pytz
st-gsheets-connection>=0.0.4
streamlit-analytics
streamlit-cookies-manager
flask
flask-cors
deta
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-colab
